html {
    overflow-x: hidden;
}

.all {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #e6ffe6;
}

.br {
    border-radius: 10px;
}

.header {
    width: 100vw;
    height: 120px;
}

.title {
    width: 84vw;
    height: 100%;
    float: left;
}

.logo1 {
    width: 8vw;
    height: 100%;
    float: left;
}

.logo2 {
    width: 8vw;
    height: 100%;
    float: left;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main {
    min-height: 75vh;
    width: 100vw;
}

.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
    border-radius: 10px;
    display: flex;
}

.tf{
    width: 50%;
}

.myDiv{
	display:none;
}  