<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/Style.css">

    <title>Agricultural Schemes</title>
</head>

<body>
    {% if messages %}
    {% for i in messages %}
    <script>alert('{{ i }}');</script>
    {% endfor %}
    {% endif %}
    <div class="container-fluid all">
        <div class="header">
            <div class="logo1"><img src="/static/images/aau.png" class="img p-3" alt="aau"></div>
            <div class="title text-center fs-1 p-4 fw-bold text-success">Agricultural Schemes For Gujarat</div>
            <div class="logo2"><img src="/static/images/cait.png" class="img p-3" alt="cait"></div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-dark bg-success br shadow-lg">
            <div class="container-fluid">
                <a class="navbar-brand fs-3 mx-4" href="../"><i class="fa fa-home" aria-hidden="true"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fs-5" aria-current="page" href="../login/"><i class="fa fa-user-circle"
                                    aria-hidden="true">&nbsp;LOGIN</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        <div class="main">
            <h1 class="text-center text-secondary pt-5 fw-bold">Welcome To Web-Portal For Agricultural Related Schemes
                For Gujarat</h1>
            <p class="px-2 pt-3 fs-4">This website has been created only for the benefit of farmers. So they
                can learn about the each Sacheme and apply online for to get benifits of Schemes</p>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/scheme1.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Pradhan Mantri Fasal Bima Yojana</h3>
                            <p>Farmers get benifit of crop insurance</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/scheme2.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Pradhan Mantri Kishan Samman Nidhi</h3>
                            <p>...</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/scheme3.jpg" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Vasudhaiva Kutumbakam</h3>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="footer bg-success d-flex bottom-0">
            <div class="fw-bold fs-5 font-monospace mx-3 text-light py-2" style="letter-spacing: 2px; width: 50%;">
                Cait@2022
            </div>
            <div class="fs-5 text-light mx-4 py-2" style="width: 50%; overflow: hidden ;">
                <p class="mx-3 text-end">Developed by &nbsp;&nbsp;&nbsp;<b>Maya V. Langnecha</b></p>
            </div>
        </div>



    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>